.container {
  max-width: 1100px;
  margin: 0 auto; }

.l-heading {
  font-size: 3rem;
  margin-bottom: 1rem; }

.l-heading-2 {
  font-size: 2rem;
  margin-bottom: 1rem; }

.btn {
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 1.5rem;
  background: #f4f4f4;
  color: #333; }

.btn-main {
  background: #a42422;
  color: #fff; }
  .btn-main:hover {
    background: #90201e; }

.padding-y2 {
  padding: 1rem 0; }

.size-1 {
  font-size: 1.5rem; }

.txt-ctr {
  text-align: center; }

.mb-2 {
  margin-bottom: 2rem; }

.b-rad-2 {
  border-radius: 30px; }

.b-rad-1 {
  border-radius: 15px; }

.text-input {
  padding: 0.75rem;
  border: none;
  margin-bottom: 0.75rem;
  background: #f4f4f4; }
  .text-input:focus {
    border-radius: 0; }

button[type='submit'] {
  margin-top: 1rem;
  font-size: 1rem; }

.message-input:focus {
  border-radius: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f4f4f4;
  font-family: "Livvic", sans-serif;
  line-height: 1.2; }

a {
  text-decoration: none;
  font-weight: bold; }

img {
  width: 100%; }

ul {
  list-style: none; }

#navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #a42422; }
  #navbar .navbar-wrap {
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #navbar .navbar-wrap .nav-menu {
      height: 100%;
      display: flex; }
      #navbar .navbar-wrap .nav-menu .current {
        background: #7b1b1a; }
      #navbar .navbar-wrap .nav-menu li {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.5rem 1.3rem;
        font-size: 1.2rem; }
        #navbar .navbar-wrap .nav-menu li a {
          color: #f4f4f4; }
        #navbar .navbar-wrap .nav-menu li:hover {
          cursor: pointer;
          background: #90201e;
          color: #fff; }
      #navbar .navbar-wrap .nav-menu .dropdown {
        position: relative; }
        #navbar .navbar-wrap .nav-menu .dropdown ul {
          display: none;
          background: #90201e;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%; }
        #navbar .navbar-wrap .nav-menu .dropdown:hover ul {
          display: block; }
          #navbar .navbar-wrap .nav-menu .dropdown:hover ul li:hover {
            background: #7b1b1a; }

#showcase {
  background: url("../img/showcase-img.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative; }
  #showcase .showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 6rem;
    position: relative; }
    #showcase .showcase-content a {
      font-size: 1.2rem;
      margin-top: 1rem; }
  #showcase:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%; }

.pet-cards {
  padding: 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem; }
  .pet-cards .pet-card {
    position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); }
    .pet-cards .pet-card .description {
      background: #f4f4f4;
      width: 100%;
      height: 50%;
      position: absolute;
      height: 30%;
      bottom: 0; }
      .pet-cards .pet-card .description h3 {
        color: #a42422;
        position: relative;
        top: 40%;
        transition: all 0.5s ease-in-out; }
      .pet-cards .pet-card .description .summary {
        position: relative;
        opacity: 0;
        top: 100%;
        transition: all 0.5s ease-in-out; }
    .pet-cards .pet-card img {
      position: relative; }
    .pet-cards .pet-card:hover h3 {
      top: 0; }
    .pet-cards .pet-card:hover .summary {
      top: 5%;
      opacity: 1; }

#services {
  background: #fff;
  padding: 3rem 0; }
  #services .services-wrap {
    display: flex;
    justify-content: space-around; }
    #services .services-wrap i {
      background: #333;
      border-radius: 50%;
      color: #a42422;
      padding: 1.5rem;
      transition: all 0.25s ease-in; }
      #services .services-wrap i:hover {
        background: #a42422;
        color: #333; }

#about-info .about-content {
  margin: 1rem 0;
  padding: 0 2rem;
  font-size: 1rem;
  display: grid;
  grid-template-areas: 'about-story peggy' 'contact-form sergio';
  grid-gap: 2rem; }
  #about-info .about-content .about-story {
    grid-area: about-story;
    background: #fff;
    padding: 2rem; }
  #about-info .about-content .contact-form {
    background: #fff;
    padding: 1rem;
    grid-area: contact-form; }
    #about-info .about-content .contact-form form {
      display: flex;
      flex-direction: column; }
      #about-info .about-content .contact-form form .message-input {
        height: 100px; }
  #about-info .about-content .sergio-img {
    grid-area: sergio; }
  #about-info .about-content .peggy {
    grid-area: peggy; }
  #about-info .about-content .peggy, #about-info .about-content .sergio-img {
    width: 80%;
    border-radius: 10%; }

#cats, #dogs {
  max-height: 1000px;
  padding-top: 2rem; }

#adopt {
  margin-bottom: 2rem; }
  #adopt .adopt-form {
    background: #fff; }
    #adopt .adopt-form h1 {
      color: #a42422; }
    #adopt .adopt-form form {
      padding: 1.5rem;
      display: grid;
      grid-template-areas: 'name email inquiry inquiry inquiry' 'phone choice inquiry inquiry inquiry' 'home occupation inquiry inquiry inquiry' 'other other submit submit submit'; }
      #adopt .adopt-form form .name-input {
        grid-area: name; }
      #adopt .adopt-form form .email-input {
        grid-area: email; }
      #adopt .adopt-form form .phone-input {
        grid-area: phone; }
      #adopt .adopt-form form .choice-input {
        grid-area: choice; }
      #adopt .adopt-form form .home-input {
        grid-area: home; }
      #adopt .adopt-form form .occupation-input {
        grid-area: occupation; }
      #adopt .adopt-form form .other-input {
        grid-area: other; }
      #adopt .adopt-form form button[type='submit'] {
        grid-area: submit; }
      #adopt .adopt-form form .inquiry-input {
        grid-area: inquiry;
        padding: 0.75rem 0.25rem; }
      #adopt .adopt-form form .form-group {
        margin-bottom: 1rem; }
      #adopt .adopt-form form .text-input {
        padding: 0.75rem;
        margin: 0.5rem 0.5rem 1rem 0;
        background: #f4f4f4; }

#vet-services .container > div, #pet-supplies .container > div, #new-owners .container > div {
  background: #fff;
  margin: 1.5rem 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between; }
  #vet-services .container > div > div, #pet-supplies .container > div > div, #new-owners .container > div > div {
    order: 1; }
  #vet-services .container > div img, #pet-supplies .container > div img, #new-owners .container > div img {
    order: 2;
    width: 50%; }

footer {
  background: #3e0e0d;
  color: #fff;
  padding: 2rem 0; }
  footer .footer-wrap {
    display: flex;
    justify-content: space-between; }
    footer .footer-wrap i {
      margin: 0 1.5rem; }
      footer .footer-wrap i:hover {
        color: #a42422; }
    footer .footer-wrap .fa-facebook {
      color: #3b5998; }
    footer .footer-wrap .fa-twitter {
      color: #1da1f2; }
    footer .footer-wrap .fa-youtube {
      color: #c4302b; }
    footer .footer-wrap .fa-instagram {
      color: #3f729b; }
