// Config

$primary-color: #a42422;
$secondary-color: #90201e;
$thirdary-color: #7b1b1a;
$dark-red: #3e0e0d;
$dark-color: #333;
$medium-color: #ddd;
$light-color: #f4f4f4;
$font-stack: 'Livvic', sans-serif;
$website-width: 1100px;
// #671715
// #521211
// #3e0e0d
// #290909
// #15050
