// Utilities
.container {
  max-width: $website-width;
  margin: 0 auto;
  // With overflow hidden, portion of border that spills isnt shown
  // If use this, can't see dropdown
  // overflow: hidden;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.l-heading-2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 1.5rem;
  background: $light-color;
  color: $dark-color;
}

.btn-main {
  background: $primary-color;
  color: #fff;

  &:hover {
    background: $secondary-color;
  }
}

.padding-y2 {
  padding: 1rem 0;
}

.size-1{
  font-size: 1.5rem;
}

.txt-ctr {
  text-align: center;
}

.mb-2 {
  margin-bottom: 2rem;
}

.b-rad-2 {
  border-radius: 30px;
}

.b-rad-1 {
  border-radius: 15px;
}

.text-input {
  padding: 0.75rem;
  width: 100%;
  border: none;
  margin-bottom: 0.75rem;
  background: $light-color;
  
  &:focus {
    border-radius: 0;
  }
}

button[type='submit'] {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
}

.message-input {
  &:focus {
    border-radius: 0;
  }
}